/* @font-face {
    font-family: 'iconfont';
    src: url('../asset/iconfont.ttf')format('truetype');
} */
*{
    margin: 0;
    padding: 0;
    background: #000;
    font-size: large;
}
.hello{
    /* font-family: 'iconfont'; */
    color: red;
    width: 100px;
    height: 100px;
    background-image: url('../asset/topic.svg');
}